# Ignore all files in the .volumes folder
.volumes/*

# Allow the .volumes directory to be tracked
!.volumes/.gitkeep

# Ignore the .env file
.env

# Ignore all log files and their content, but keep the empty log files
logs/*.log

# Allow the .env.example file
!.env.example
